[submodule "libs/asio"]
	path = libs/asio
	url = https://github.com/chriskohlhoff/asio.git
    ignore = dirty
[submodule "libs/RxCpp"]
	path = libs/RxCpp
	url = https://github.com/Reactive-Extensions/RxCpp.git
    ignore = dirty
[submodule "libs/stun-msg"]
	path = libs/stun-msg
	url = https://github.com/balena/stun-msg.git
